<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Генератор паролей</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-button-container">
        <a href="/login" class="login-button">Выйти</a>
    </div>
    <h1>Генератор паролей</h1>

    <form method="POST" action="{{ url_for('generator') }}">
        {{ form.hidden_tag() }}

        <div>
            {{ form.lengthen.label }}
            {{ form.lengthen() }}
        </div>

        <div>
            {{ form.byword.label }}
            {{ form.byword() }}
        </div>

        <div>
            {{ form.submit }}
        </div>
    </form>

    {% if label %}
    <div>
        <h3>Результат:</h3>
        <p>{{ label }}</p>
    </div>
    {% endif %}

    <div>
        <a href="{{ url_for('personal_main')}}">← Назад к списку</a>
    </div>
</body>
</html>