<!DOCTYPE html>
<html lang="Ru">
<head>
    <meta charset="UTF-8">
    <title>Поделиться паролем</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
    <div class="login-button-container">
        <a href="/logout" class="login-button">Выйти</a>
    </div>
    <h2>Поделиться паролем</h2>

    {% if error %}
        <div class="error-message" style="color: red; margin-bottom: 15px;">
            {{ error }}
        </div>
    {% endif %}

    <form method="POST" action="/doshare">
        <div>
            <label>Логин получателя</label>
            <input type="text" name="login" required>
        </div>
        <div>
            <label>Сервис</label>
            <input type="text" name="name" required>
        </div>
        <div>
            <label>Логин</label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label>Подтвердите пароль</label>
            <input type="text" name="password" required>
        </div>
        <button type="submit">Поделиться</button>
    </form>

    <div>
        <a href="/">← Назад к списку</a>
    </div>
</body>
</html>