<!DOCTYPE html>
<html lang="Ru">
<head>
    <meta charset="UTF-8">
    <title>Поделиться паролем</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Поделиться: {{ name }} ({{ username }})</h2>

    {% if error %}
        <div class="error-message" style="color: red; margin-bottom: 15px;">
            {{ error }}
        </div>
    {% endif %}

    <form method="POST" action="{{ url_for('share_password', name=name, username=username) }}">
        {{ form.hidden_tag() }}

        <div>
            {{ form.recipient_username.label }}<br>
            {{ form.recipient_username() }}
            {% if form.recipient_username.errors %}
                <ul class="errors">
                {% for error in form.recipient_username.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            {{ form.password.label }}<br>
            {{ form.password() }}
            {% if form.password.errors %}
                <ul class="errors">
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            {{ form.submit() }}
        </div>
    </form>

    <div>
        <a href="{{ url_for('personal_main')}}">← Назад к списку</a>
    </div>
</body>
</html>