<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Полученые пароли</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-button-container">
        <a href="/login" class="login-button">Выйти</a>
    </div>
    <h2>Пароли которые вам прислали:</h2>

    <table>
        <tr>
            <th>Отправитель</th>
            <th>Сервис</th>
            <th>Логин</th>
            <th>Пароль</th>
            <th>Действия</th>
        </tr>

        {% for note in notes %}
        <tr>
            <td>{{ note[0] }}</td>
            <td>{{ note[1] }}</td>
            <td>{{ note[2] }}</td>
            <td>{{ note[3] }}</td>
            <td><a href="{{ url_for('delete_password', name=note[1], username=note[2], mode=False)}}"
                   class="action-btn delete-btn"
                   onclick="return confirm('Вы уверены, что хотите удалить этот пароль?')">
                    Удалить
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="side-links">
        <a href="{{ url_for('personal_main') }}">Главная</a>
        <a href="/view-password">Полученные пароли</a>
    </div>
</body>
</html>