<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Полученые пароли</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
    <div class="login-button-container">
        <a href="/logout" class="login-button">Выйти</a>
    </div>
    <h2>Пароли которые вам прислали:</h2>

    <table>
        <tr>
            <th>Отправитель</th>
            <th>Сервис</th>
            <th>Логин</th>
            <th>Пароль</th>
        </tr>

        {% for note in notes %}
        <tr>
            <td>{{ note[0] }}</td>
            <td>{{ note[1] }}</td>
            <td>{{ note[2] }}</td>
            <td>{{ note[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="side-links">
        <a href="/">Главная</a>
        <a href="/view">Полученные пароли</a>
    </div>
</body>
</html>